body { 
 background: #333333; 
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center; 
 }
.canvas{
 width: 400px;
 height: 400px; 
 }
.pixel{
 width: 30px;
 height: 30px;
 float: left; 
 box-shadow: 0px 0px 1px #fff;
}
.pixel:nth-child(1)
{
 background: #FFE4B5; 
}
.pixel:nth-child(2)
{
 background: #FFE4B5; 
}
.pixel:nth-child(3)
{
 background: #FFE4B5; 
}
.pixel:nth-child(4)
{
 background: #0000FF; 
}
.pixel:nth-child(5)
{
 background: #0000FF; 
}
.pixel:nth-child(6)
{
 background: #0000FF; 
}
.pixel:nth-child(7)
{
 background: #0000FF; 
}
.pixel:nth-child(8)
{
 background: #0000FF; 
}
.pixel:nth-child(9)
{
 background: #0000FF; 
}
.pixel:nth-child(10)
{
 background: #FFE4B5; 
}
.pixel:nth-child(11)
{
 background: #FFE4B5; 
}
.pixel:nth-child(12)
{
 background: #FFE4B5; 
}
.pixel:nth-child(14)
{
 background: #FFE4B5; 
}
.pixel:nth-child(15)
{
 background: #FFE4B5; 
}
.pixel:nth-child(16)
{
 background: #E41D1D; 
}
.pixel:nth-child(17)
{
 background: #0000FF; 
}
.pixel:nth-child(18)
{
 background: #FFFF00; 
}
.pixel:nth-child(19)
{
 background: #0000FF; 
}
.pixel:nth-child(20)
{
 background: #0000FF; 
}
.pixel:nth-child(21)
{
 background: #FFFF00; 
}
.pixel:nth-child(22)
{
 background: #0000FF; 
}
.pixel:nth-child(23)
{
 background: #E41D1D; 
}
.pixel:nth-child(24)
{
 background: #FFE4B5; 
}
.pixel:nth-child(25)
{
 background: #FFE4B5; 
}
.pixel:nth-child(27)
{
 background: #E41D1D; 
}
.pixel:nth-child(28)
{
 background: #E41D1D; 
}
.pixel:nth-child(29)
{
 background: #E41D1D; 
}
.pixel:nth-child(30)
{
 background: #E41D1D; 
}
.pixel:nth-child(31)
{
 background: #0000FF; 
}
.pixel:nth-child(32)
{
 background: #0000FF; 
}
.pixel:nth-child(33)
{
 background: #0000FF; 
}
.pixel:nth-child(34)
{
 background: #0000FF; 
}
.pixel:nth-child(35)
{
 background: #E41D1D; 
}
.pixel:nth-child(36)
{
 background: #E41D1D; 
}
.pixel:nth-child(37)
{
 background: #E41D1D; 
}
.pixel:nth-child(38)
{
 background: #E41D1D; 
}
.pixel:nth-child(41)
{
 background: #E41D1D; 
}
.pixel:nth-child(42)
{
 background: #E41D1D; 
}
.pixel:nth-child(43)
{
 background: #E41D1D; 
}
.pixel:nth-child(44)
{
 background: #0000FF; 
}
.pixel:nth-child(45)
{
 background: #E41D1D; 
}
.pixel:nth-child(46)
{
 background: #E41D1D; 
}
.pixel:nth-child(47)
{
 background: #0000FF; 
}
.pixel:nth-child(48)
{
 background: #E41D1D; 
}
.pixel:nth-child(49)
{
 background: #E41D1D; 
}
.pixel:nth-child(50)
{
 background: #E41D1D; 
}
.pixel:nth-child(51)
{
 background: #E41D1D; 
}
.pixel:nth-child(55)
{
 background: #E41D1D; 
}
.pixel:nth-child(56)
{
 background: #E41D1D; 
}
.pixel:nth-child(57)
{
 background: #0000FF; 
}
.pixel:nth-child(58)
{
 background: #E41D1D; 
}
.pixel:nth-child(59)
{
 background: #E41D1D; 
}
.pixel:nth-child(60)
{
 background: #0000FF; 
}
.pixel:nth-child(61)
{
 background: #E41D1D; 
}
.pixel:nth-child(69)
{
 background: #FFE4B5; 
}
.pixel:nth-child(70)
{
 background: #FFE4B5; 
}
.pixel:nth-child(71)
{
 background: #FFE4B5; 
}
.pixel:nth-child(72)
{
 background: #FFE4B5; 
}
.pixel:nth-child(73)
{
 background: #FFE4B5; 
}
.pixel:nth-child(74)
{
 background: #FFE4B5; 
}
.pixel:nth-child(75)
{
 background: #FFE4B5; 
}
.pixel:nth-child(76)
{
 background: #FFE4B5; 
}
.pixel:nth-child(80)
{
 background: #8B4513; 
}
.pixel:nth-child(81)
{
 background: #8B4513; 
}
.pixel:nth-child(82)
{
 background: #FFE4B5; 
}
.pixel:nth-child(83)
{
 background: #FFE4B5; 
}
.pixel:nth-child(84)
{
 background: #FFE4B5; 
}
.pixel:nth-child(85)
{
 background: #FFE4B5; 
}
.pixel:nth-child(86)
{
 background: #FFE4B5; 
}
.pixel:nth-child(87)
{
 background: #000000; 
}
.pixel:nth-child(88)
{
 background: #000000; 
}
.pixel:nth-child(89)
{
 background: #000000; 
}
.pixel:nth-child(90)
{
 background: #000000; 
}
.pixel:nth-child(93)
{
 background: #8B4513; 
}
.pixel:nth-child(94)
{
 background: #FFE4B5; 
}
.pixel:nth-child(95)
{
 background: #8B4513; 
}
.pixel:nth-child(96)
{
 background: #8B4513; 
}
.pixel:nth-child(97)
{
 background: #FFE4B5; 
}
.pixel:nth-child(98)
{
 background: #FFE4B5; 
}
.pixel:nth-child(99)
{
 background: #FFE4B5; 
}
.pixel:nth-child(100)
{
 background: #FFE4B5; 
}
.pixel:nth-child(101)
{
 background: #000000; 
}
.pixel:nth-child(102)
{
 background: #FFE4B5; 
}
.pixel:nth-child(103)
{
 background: #FFE4B5; 
}
.pixel:nth-child(104)
{
 background: #FFE4B5; 
}
.pixel:nth-child(106)
{
 background: #8B4513; 
}
.pixel:nth-child(107)
{
 background: #FFE4B5; 
}
.pixel:nth-child(108)
{
 background: #8B4513; 
}
.pixel:nth-child(109)
{
 background: #FFE4B5; 
}
.pixel:nth-child(110)
{
 background: #FFE4B5; 
}
.pixel:nth-child(111)
{
 background: #FFE4B5; 
}
.pixel:nth-child(112)
{
 background: #FFE4B5; 
}
.pixel:nth-child(113)
{
 background: #000000; 
}
.pixel:nth-child(114)
{
 background: #FFE4B5; 
}
.pixel:nth-child(115)
{
 background: #FFE4B5; 
}
.pixel:nth-child(116)
{
 background: #FFE4B5; 
}
.pixel:nth-child(120)
{
 background: #8B4513; 
}
.pixel:nth-child(121)
{
 background: #8B4513; 
}
.pixel:nth-child(122)
{
 background: #8B4513; 
}
.pixel:nth-child(123)
{
 background: #FFE4B5; 
}
.pixel:nth-child(124)
{
 background: #FFE4B5; 
}
.pixel:nth-child(125)
{
 background: #FFE4B5; 
}
.pixel:nth-child(126)
{
 background: #000000; 
}
.pixel:nth-child(127)
{
 background: #FFE4B5; 
}
.pixel:nth-child(133)
{
 background: #E41D1D; 
}
.pixel:nth-child(134)
{
 background: #E41D1D; 
}
.pixel:nth-child(135)
{
 background: #E41D1D; 
}
.pixel:nth-child(136)
{
 background: #E41D1D; 
}
.pixel:nth-child(137)
{
 background: #E41D1D; 
}
.pixel:nth-child(138)
{
 background: #E41D1D; 
}
.pixel:nth-child(139)
{
 background: #E41D1D; 
}
.pixel:nth-child(140)
{
 background: #E41D1D; 
}
.pixel:nth-child(141)
{
 background: #E41D1D; 
}
.pixel:nth-child(142)
{
 background: #E41D1D; 
}
.pixel:nth-child(147)
{
 background: #E41D1D; 
}
.pixel:nth-child(148)
{
 background: #E41D1D; 
}
.pixel:nth-child(149)
{
 background: #E41D1D; 
}
.pixel:nth-child(150)
{
 background: #E41D1D; 
}
.pixel:nth-child(151)
{
 background: #E41D1D; 
}
.pixel:nth-child(152)
{
 background: #E41D1D; 
}
