body { 
 background: #333333; 
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center; 
 }
.canvas{
 width: 150px;
 height: 360px; 
 }
.pixel{
 width: 35px;
 height: 35px;
 float: left; 
 box-shadow: 0px 0px 1px #fff;
}
.pixel:nth-child(9)
{
 background: #99CCFF; 
}
.pixel:nth-child(10)
{
 background: #99CCFF; 
}
.pixel:nth-child(11)
{
 background: #99CCFF; 
}
.pixel:nth-child(13)
{
 background: #99CCFF; 
}
.pixel:nth-child(16)
{
 background: #99CCFF; 
}
.pixel:nth-child(17)
{
 background: #99CCFF; 
}
.pixel:nth-child(20)
{
 background: #99CCFF; 
}
.pixel:nth-child(21)
{
 background: #99CCFF; 
}
.pixel:nth-child(24)
{
 background: #99CCFF; 
}
.pixel:nth-child(25)
{
 background: #99CCFF; 
}
.pixel:nth-child(28)
{
 background: #99CCFF; 
}
.pixel:nth-child(29)
{
 background: #99CCFF; 
}
.pixel:nth-child(30)
{
 background: #66FF66; 
}
.pixel:nth-child(31)
{
 background: #66FF66; 
}
.pixel:nth-child(33)
{
 background: #99CCFF; 
}
.pixel:nth-child(37)
{
 background: #99CCFF; 
}
.pixel:nth-child(38)
{
 background: #66FF66; 
}
.pixel:nth-child(41)
{
 background: #99CCFF; 
}
.pixel:nth-child(43)
{
 background: #66FF66; 
}
.pixel:nth-child(45)
{
 background: #99CCFF; 
}
.pixel:nth-child(48)
{
 background: #66FF66; 
}
