body { 
 background: #333333; 
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center; 
 }
.canvas{
 width: 660px;
 height: 480px; 
 }
.pixel{
 width: 30px;
 height: 30px;
 float: left; 
 box-shadow: 0px 0px 1px #fff;
}
.pixel:nth-child(10)
{
 background: #CFCFCF; 
}
.pixel:nth-child(11)
{
 background: #CFCFCF; 
}
.pixel:nth-child(12)
{
 background: #CFCFCF; 
}
.pixel:nth-child(13)
{
 background: #CFCFCF; 
}
.pixel:nth-child(14)
{
 background: #CFCFCF; 
}
.pixel:nth-child(15)
{
 background: #CFCFCF; 
}
.pixel:nth-child(31)
{
 background: #CFCFCF; 
}
.pixel:nth-child(32)
{
 background: #CFCFCF; 
}
.pixel:nth-child(33)
{
 background: #2EC8C8; 
}
.pixel:nth-child(34)
{
 background: #2EC8C8; 
}
.pixel:nth-child(35)
{
 background: #2EC8C8; 
}
.pixel:nth-child(36)
{
 background: #2EC8C8; 
}
.pixel:nth-child(37)
{
 background: #2EC8C8; 
}
.pixel:nth-child(38)
{
 background: #2EC8C8; 
}
.pixel:nth-child(39)
{
 background: #CFCFCF; 
}
.pixel:nth-child(40)
{
 background: #CFCFCF; 
}
.pixel:nth-child(52)
{
 background: #CFCFCF; 
}
.pixel:nth-child(53)
{
 background: #2EC8C8; 
}
.pixel:nth-child(54)
{
 background: #2EC8C8; 
}
.pixel:nth-child(55)
{
 background: #2EC8C8; 
}
.pixel:nth-child(56)
{
 background: #2EC8C8; 
}
.pixel:nth-child(57)
{
 background: #2EC8C8; 
}
.pixel:nth-child(58)
{
 background: #2EC8C8; 
}
.pixel:nth-child(59)
{
 background: #2EC8C8; 
}
.pixel:nth-child(60)
{
 background: #2EC8C8; 
}
.pixel:nth-child(61)
{
 background: #2EC8C8; 
}
.pixel:nth-child(62)
{
 background: #2EC8C8; 
}
.pixel:nth-child(63)
{
 background: #CFCFCF; 
}
.pixel:nth-child(73)
{
 background: #CFCFCF; 
}
.pixel:nth-child(74)
{
 background: #2EC8C8; 
}
.pixel:nth-child(75)
{
 background: #2EC8C8; 
}
.pixel:nth-child(76)
{
 background: #2EC8C8; 
}
.pixel:nth-child(77)
{
 background: #2EC8C8; 
}
.pixel:nth-child(78)
{
 background: #2EC8C8; 
}
.pixel:nth-child(79)
{
 background: #2EC8C8; 
}
.pixel:nth-child(80)
{
 background: #2EC8C8; 
}
.pixel:nth-child(81)
{
 background: #2EC8C8; 
}
.pixel:nth-child(82)
{
 background: #2EC8C8; 
}
.pixel:nth-child(83)
{
 background: #2EC8C8; 
}
.pixel:nth-child(84)
{
 background: #2EC8C8; 
}
.pixel:nth-child(85)
{
 background: #2EC8C8; 
}
.pixel:nth-child(86)
{
 background: #CFCFCF; 
}
.pixel:nth-child(95)
{
 background: #CFCFCF; 
}
.pixel:nth-child(96)
{
 background: #2EC8C8; 
}
.pixel:nth-child(97)
{
 background: #2EC8C8; 
}
.pixel:nth-child(98)
{
 background: #2EC8C8; 
}
.pixel:nth-child(99)
{
 background: #2EC8C8; 
}
.pixel:nth-child(100)
{
 background: #2EC8C8; 
}
.pixel:nth-child(101)
{
 background: #2EC8C8; 
}
.pixel:nth-child(102)
{
 background: #2EC8C8; 
}
.pixel:nth-child(103)
{
 background: #2EC8C8; 
}
.pixel:nth-child(104)
{
 background: #2EC8C8; 
}
.pixel:nth-child(105)
{
 background: #2EC8C8; 
}
.pixel:nth-child(106)
{
 background: #2EC8C8; 
}
.pixel:nth-child(107)
{
 background: #2EC8C8; 
}
.pixel:nth-child(108)
{
 background: #CFCFCF; 
}
.pixel:nth-child(116)
{
 background: #CFCFCF; 
}
.pixel:nth-child(117)
{
 background: #2EC8C8; 
}
.pixel:nth-child(118)
{
 background: #2EC8C8; 
}
.pixel:nth-child(119)
{
 background: #2EC8C8; 
}
.pixel:nth-child(120)
{
 background: #2EC8C8; 
}
.pixel:nth-child(121)
{
 background: #2EC8C8; 
}
.pixel:nth-child(122)
{
 background: #2EC8C8; 
}
.pixel:nth-child(123)
{
 background: #2EC8C8; 
}
.pixel:nth-child(124)
{
 background: #2EC8C8; 
}
.pixel:nth-child(125)
{
 background: #2EC8C8; 
}
.pixel:nth-child(126)
{
 background: #2EC8C8; 
}
.pixel:nth-child(127)
{
 background: #2EC8C8; 
}
.pixel:nth-child(128)
{
 background: #2EC8C8; 
}
.pixel:nth-child(129)
{
 background: #2EC8C8; 
}
.pixel:nth-child(130)
{
 background: #2EC8C8; 
}
.pixel:nth-child(131)
{
 background: #CFCFCF; 
}
.pixel:nth-child(138)
{
 background: #CFCFCF; 
}
.pixel:nth-child(139)
{
 background: #2EC8C8; 
}
.pixel:nth-child(140)
{
 background: #2EC8C8; 
}
.pixel:nth-child(141)
{
 background: #2EC8C8; 
}
.pixel:nth-child(142)
{
 background: #2EC8C8; 
}
.pixel:nth-child(143)
{
 background: #2EC8C8; 
}
.pixel:nth-child(144)
{
 background: #2EC8C8; 
}
.pixel:nth-child(145)
{
 background: #2EC8C8; 
}
.pixel:nth-child(146)
{
 background: #2EC8C8; 
}
.pixel:nth-child(147)
{
 background: #2EC8C8; 
}
.pixel:nth-child(148)
{
 background: #2EC8C8; 
}
.pixel:nth-child(149)
{
 background: #2EC8C8; 
}
.pixel:nth-child(150)
{
 background: #2EC8C8; 
}
.pixel:nth-child(151)
{
 background: #2EC8C8; 
}
.pixel:nth-child(152)
{
 background: #2EC8C8; 
}
.pixel:nth-child(153)
{
 background: #CFCFCF; 
}
.pixel:nth-child(160)
{
 background: #CFCFCF; 
}
.pixel:nth-child(161)
{
 background: #2EC8C8; 
}
.pixel:nth-child(162)
{
 background: #2EC8C8; 
}
.pixel:nth-child(163)
{
 background: #2EC8C8; 
}
.pixel:nth-child(164)
{
 background: #2EC8C8; 
}
.pixel:nth-child(165)
{
 background: #2EC8C8; 
}
.pixel:nth-child(166)
{
 background: #2EC8C8; 
}
.pixel:nth-child(167)
{
 background: #2EC8C8; 
}
.pixel:nth-child(168)
{
 background: #2EC8C8; 
}
.pixel:nth-child(169)
{
 background: #2EC8C8; 
}
.pixel:nth-child(170)
{
 background: #2EC8C8; 
}
.pixel:nth-child(171)
{
 background: #2EC8C8; 
}
.pixel:nth-child(172)
{
 background: #2EC8C8; 
}
.pixel:nth-child(173)
{
 background: #2EC8C8; 
}
.pixel:nth-child(174)
{
 background: #2EC8C8; 
}
.pixel:nth-child(175)
{
 background: #CFCFCF; 
}
.pixel:nth-child(182)
{
 background: #CFCFCF; 
}
.pixel:nth-child(183)
{
 background: #2EC8C8; 
}
.pixel:nth-child(184)
{
 background: #2EC8C8; 
}
.pixel:nth-child(185)
{
 background: #2EC8C8; 
}
.pixel:nth-child(186)
{
 background: #2EC8C8; 
}
.pixel:nth-child(187)
{
 background: #2EC8C8; 
}
.pixel:nth-child(188)
{
 background: #B2B2B2; 
}
.pixel:nth-child(189)
{
 background: #757575; 
}
.pixel:nth-child(190)
{
 background: #757575; 
}
.pixel:nth-child(191)
{
 background: #2EC8C8; 
}
.pixel:nth-child(192)
{
 background: #2EC8C8; 
}
.pixel:nth-child(193)
{
 background: #2EC8C8; 
}
.pixel:nth-child(194)
{
 background: #2EC8C8; 
}
.pixel:nth-child(195)
{
 background: #2EC8C8; 
}
.pixel:nth-child(196)
{
 background: #757575; 
}
.pixel:nth-child(197)
{
 background: #CFCFCF; 
}
.pixel:nth-child(204)
{
 background: #CFCFCF; 
}
.pixel:nth-child(205)
{
 background: #2EC8C8; 
}
.pixel:nth-child(206)
{
 background: #2EC8C8; 
}
.pixel:nth-child(207)
{
 background: #2EC8C8; 
}
.pixel:nth-child(208)
{
 background: #2EC8C8; 
}
.pixel:nth-child(209)
{
 background: #B2B2B2; 
}
.pixel:nth-child(210)
{
 background: #B2B2B2; 
}
.pixel:nth-child(211)
{
 background: #B2B2B2; 
}
.pixel:nth-child(212)
{
 background: #757575; 
}
.pixel:nth-child(213)
{
 background: #757575; 
}
.pixel:nth-child(214)
{
 background: #757575; 
}
.pixel:nth-child(215)
{
 background: #2EC8C8; 
}
.pixel:nth-child(216)
{
 background: #2EC8C8; 
}
.pixel:nth-child(217)
{
 background: #757575; 
}
.pixel:nth-child(218)
{
 background: #757575; 
}
.pixel:nth-child(219)
{
 background: #CFCFCF; 
}
.pixel:nth-child(221)
{
 background: #CFCFCF; 
}
.pixel:nth-child(222)
{
 background: #CFCFCF; 
}
.pixel:nth-child(227)
{
 background: #CFCFCF; 
}
.pixel:nth-child(228)
{
 background: #2EC8C8; 
}
.pixel:nth-child(229)
{
 background: #2EC8C8; 
}
.pixel:nth-child(230)
{
 background: #2EC8C8; 
}
.pixel:nth-child(231)
{
 background: #B2B2B2; 
}
.pixel:nth-child(232)
{
 background: #B2B2B2; 
}
.pixel:nth-child(233)
{
 background: #000000; 
}
.pixel:nth-child(234)
{
 background: #000000; 
}
.pixel:nth-child(235)
{
 background: #757575; 
}
.pixel:nth-child(236)
{
 background: #757575; 
}
.pixel:nth-child(237)
{
 background: #2EC8C8; 
}
.pixel:nth-child(238)
{
 background: #2EC8C8; 
}
.pixel:nth-child(239)
{
 background: #757575; 
}
.pixel:nth-child(240)
{
 background: #757575; 
}
.pixel:nth-child(241)
{
 background: #CFCFCF; 
}
.pixel:nth-child(243)
{
 background: #CFCFCF; 
}
.pixel:nth-child(244)
{
 background: #7FB4BF; 
}
.pixel:nth-child(245)
{
 background: #CFCFCF; 
}
.pixel:nth-child(249)
{
 background: #CFCFCF; 
}
.pixel:nth-child(250)
{
 background: #2EC8C8; 
}
.pixel:nth-child(251)
{
 background: #2EC8C8; 
}
.pixel:nth-child(252)
{
 background: #2EC8C8; 
}
.pixel:nth-child(253)
{
 background: #B2B2B2; 
}
.pixel:nth-child(254)
{
 background: #B2B2B2; 
}
.pixel:nth-child(255)
{
 background: #000000; 
}
.pixel:nth-child(256)
{
 background: #000000; 
}
.pixel:nth-child(257)
{
 background: #000000; 
}
.pixel:nth-child(258)
{
 background: #757575; 
}
.pixel:nth-child(259)
{
 background: #2EC8C8; 
}
.pixel:nth-child(260)
{
 background: #2EC8C8; 
}
.pixel:nth-child(261)
{
 background: #757575; 
}
.pixel:nth-child(262)
{
 background: #CFCFCF; 
}
.pixel:nth-child(266)
{
 background: #CFCFCF; 
}
.pixel:nth-child(267)
{
 background: #7FB4BF; 
}
.pixel:nth-child(268)
{
 background: #CFCFCF; 
}
.pixel:nth-child(272)
{
 background: #CFCFCF; 
}
.pixel:nth-child(273)
{
 background: #2EC8C8; 
}
.pixel:nth-child(274)
{
 background: #2EC8C8; 
}
.pixel:nth-child(275)
{
 background: #2EC8C8; 
}
.pixel:nth-child(276)
{
 background: #B2B2B2; 
}
.pixel:nth-child(277)
{
 background: #B2B2B2; 
}
.pixel:nth-child(278)
{
 background: #B2B2B2; 
}
.pixel:nth-child(279)
{
 background: #757575; 
}
.pixel:nth-child(280)
{
 background: #757575; 
}
.pixel:nth-child(281)
{
 background: #2EC8C8; 
}
.pixel:nth-child(282)
{
 background: #2EC8C8; 
}
.pixel:nth-child(283)
{
 background: #757575; 
}
.pixel:nth-child(284)
{
 background: #CFCFCF; 
}
.pixel:nth-child(289)
{
 background: #CFCFCF; 
}
.pixel:nth-child(290)
{
 background: #7FB4BF; 
}
.pixel:nth-child(291)
{
 background: #CFCFCF; 
}
.pixel:nth-child(295)
{
 background: #CFCFCF; 
}
.pixel:nth-child(296)
{
 background: #2EC8C8; 
}
.pixel:nth-child(297)
{
 background: #2EC8C8; 
}
.pixel:nth-child(298)
{
 background: #2EC8C8; 
}
.pixel:nth-child(299)
{
 background: #B2B2B2; 
}
.pixel:nth-child(300)
{
 background: #B2B2B2; 
}
.pixel:nth-child(301)
{
 background: #757575; 
}
.pixel:nth-child(302)
{
 background: #2EC8C8; 
}
.pixel:nth-child(303)
{
 background: #2EC8C8; 
}
.pixel:nth-child(304)
{
 background: #2EC8C8; 
}
.pixel:nth-child(305)
{
 background: #2EC8C8; 
}
.pixel:nth-child(306)
{
 background: #CFCFCF; 
}
.pixel:nth-child(312)
{
 background: #CFCFCF; 
}
.pixel:nth-child(313)
{
 background: #7FB4BF; 
}
.pixel:nth-child(314)
{
 background: #CFCFCF; 
}
.pixel:nth-child(316)
{
 background: #CFCFCF; 
}
.pixel:nth-child(317)
{
 background: #B2B2B2; 
}
.pixel:nth-child(318)
{
 background: #CFCFCF; 
}
.pixel:nth-child(319)
{
 background: #2EC8C8; 
}
.pixel:nth-child(320)
{
 background: #2EC8C8; 
}
.pixel:nth-child(321)
{
 background: #2EC8C8; 
}
.pixel:nth-child(322)
{
 background: #2EC8C8; 
}
.pixel:nth-child(323)
{
 background: #2EC8C8; 
}
.pixel:nth-child(324)
{
 background: #2EC8C8; 
}
.pixel:nth-child(325)
{
 background: #2EC8C8; 
}
.pixel:nth-child(326)
{
 background: #2EC8C8; 
}
.pixel:nth-child(327)
{
 background: #CFCFCF; 
}
.pixel:nth-child(335)
{
 background: #CFCFCF; 
}
.pixel:nth-child(336)
{
 background: #CFCFCF; 
}
.pixel:nth-child(337)
{
 background: #CFCFCF; 
}
.pixel:nth-child(338)
{
 background: #B2B2B2; 
}
.pixel:nth-child(339)
{
 background: #B2B2B2; 
}
.pixel:nth-child(340)
{
 background: #B2B2B2; 
}
.pixel:nth-child(341)
{
 background: #CFCFCF; 
}
.pixel:nth-child(342)
{
 background: #CFCFCF; 
}
.pixel:nth-child(343)
{
 background: #2EC8C8; 
}
.pixel:nth-child(344)
{
 background: #2EC8C8; 
}
.pixel:nth-child(345)
{
 background: #2EC8C8; 
}
.pixel:nth-child(346)
{
 background: #2EC8C8; 
}
.pixel:nth-child(347)
{
 background: #2EC8C8; 
}
.pixel:nth-child(348)
{
 background: #CFCFCF; 
}
.pixel:nth-child(358)
{
 background: #CFCFCF; 
}
.pixel:nth-child(359)
{
 background: #B2B2B2; 
}
.pixel:nth-child(360)
{
 background: #B2B2B2; 
}
.pixel:nth-child(361)
{
 background: #B2B2B2; 
}
.pixel:nth-child(362)
{
 background: #B2B2B2; 
}
.pixel:nth-child(363)
{
 background: #B2B2B2; 
}
.pixel:nth-child(364)
{
 background: #B2B2B2; 
}
.pixel:nth-child(365)
{
 background: #CFCFCF; 
}
.pixel:nth-child(366)
{
 background: #CFCFCF; 
}
.pixel:nth-child(367)
{
 background: #CFCFCF; 
}
.pixel:nth-child(368)
{
 background: #CFCFCF; 
}
.pixel:nth-child(369)
{
 background: #CFCFCF; 
}
.pixel:nth-child(370)
{
 background: #2EC8C8; 
}
.pixel:nth-child(371)
{
 background: #CFCFCF; 
}
.pixel:nth-child(380)
{
 background: #CFCFCF; 
}
.pixel:nth-child(381)
{
 background: #B2B2B2; 
}
.pixel:nth-child(382)
{
 background: #B2B2B2; 
}
.pixel:nth-child(383)
{
 background: #B2B2B2; 
}
.pixel:nth-child(384)
{
 background: #B2B2B2; 
}
.pixel:nth-child(385)
{
 background: #CFCFCF; 
}
.pixel:nth-child(386)
{
 background: #B2B2B2; 
}
.pixel:nth-child(387)
{
 background: #2EC8C8; 
}
.pixel:nth-child(388)
{
 background: #2EC8C8; 
}
.pixel:nth-child(389)
{
 background: #2EC8C8; 
}
.pixel:nth-child(390)
{
 background: #2EC8C8; 
}
.pixel:nth-child(391)
{
 background: #2EC8C8; 
}
.pixel:nth-child(392)
{
 background: #2EC8C8; 
}
.pixel:nth-child(393)
{
 background: #B2B2B2; 
}
.pixel:nth-child(394)
{
 background: #CFCFCF; 
}
.pixel:nth-child(401)
{
 background: #CFCFCF; 
}
.pixel:nth-child(402)
{
 background: #B2B2B2; 
}
.pixel:nth-child(403)
{
 background: #CFCFCF; 
}
.pixel:nth-child(404)
{
 background: #B2B2B2; 
}
.pixel:nth-child(405)
{
 background: #B2B2B2; 
}
.pixel:nth-child(406)
{
 background: #B2B2B2; 
}
.pixel:nth-child(407)
{
 background: #CFCFCF; 
}
.pixel:nth-child(408)
{
 background: #B2B2B2; 
}
.pixel:nth-child(409)
{
 background: #2EC8C8; 
}
.pixel:nth-child(410)
{
 background: #2EC8C8; 
}
.pixel:nth-child(411)
{
 background: #2EC8C8; 
}
.pixel:nth-child(412)
{
 background: #2EC8C8; 
}
.pixel:nth-child(413)
{
 background: #2EC8C8; 
}
.pixel:nth-child(414)
{
 background: #2EC8C8; 
}
.pixel:nth-child(415)
{
 background: #B2B2B2; 
}
.pixel:nth-child(416)
{
 background: #CFCFCF; 
}
.pixel:nth-child(423)
{
 background: #CFCFCF; 
}
.pixel:nth-child(424)
{
 background: #2EC8C8; 
}
.pixel:nth-child(425)
{
 background: #B2B2B2; 
}
.pixel:nth-child(426)
{
 background: #B2B2B2; 
}
.pixel:nth-child(427)
{
 background: #B2B2B2; 
}
.pixel:nth-child(428)
{
 background: #CFCFCF; 
}
.pixel:nth-child(429)
{
 background: #B2B2B2; 
}
.pixel:nth-child(430)
{
 background: #CFCFCF; 
}
.pixel:nth-child(431)
{
 background: #CFCFCF; 
}
.pixel:nth-child(432)
{
 background: #2EC8C8; 
}
.pixel:nth-child(433)
{
 background: #2EC8C8; 
}
.pixel:nth-child(434)
{
 background: #2EC8C8; 
}
.pixel:nth-child(435)
{
 background: #2EC8C8; 
}
.pixel:nth-child(436)
{
 background: #2EC8C8; 
}
.pixel:nth-child(437)
{
 background: #CFCFCF; 
}
.pixel:nth-child(438)
{
 background: #CFCFCF; 
}
.pixel:nth-child(444)
{
 background: #CFCFCF; 
}
.pixel:nth-child(445)
{
 background: #B2B2B2; 
}
.pixel:nth-child(446)
{
 background: #2EC8C8; 
}
.pixel:nth-child(447)
{
 background: #2EC8C8; 
}
.pixel:nth-child(448)
{
 background: #B2B2B2; 
}
.pixel:nth-child(449)
{
 background: #CFCFCF; 
}
.pixel:nth-child(450)
{
 background: #B2B2B2; 
}
.pixel:nth-child(451)
{
 background: #B2B2B2; 
}
.pixel:nth-child(452)
{
 background: #B2B2B2; 
}
.pixel:nth-child(453)
{
 background: #B2B2B2; 
}
.pixel:nth-child(454)
{
 background: #2EC8C8; 
}
.pixel:nth-child(455)
{
 background: #2EC8C8; 
}
.pixel:nth-child(456)
{
 background: #2EC8C8; 
}
.pixel:nth-child(457)
{
 background: #2EC8C8; 
}
.pixel:nth-child(458)
{
 background: #2EC8C8; 
}
.pixel:nth-child(459)
{
 background: #B2B2B2; 
}
.pixel:nth-child(460)
{
 background: #CFCFCF; 
}
.pixel:nth-child(461)
{
 background: #CFCFCF; 
}
.pixel:nth-child(466)
{
 background: #CFCFCF; 
}
.pixel:nth-child(467)
{
 background: #B2B2B2; 
}
.pixel:nth-child(468)
{
 background: #B2B2B2; 
}
.pixel:nth-child(469)
{
 background: #2EC8C8; 
}
.pixel:nth-child(470)
{
 background: #2EC8C8; 
}
.pixel:nth-child(471)
{
 background: #CFCFCF; 
}
.pixel:nth-child(472)
{
 background: #CFCFCF; 
}
.pixel:nth-child(473)
{
 background: #B2B2B2; 
}
.pixel:nth-child(474)
{
 background: #B2B2B2; 
}
.pixel:nth-child(475)
{
 background: #B2B2B2; 
}
.pixel:nth-child(476)
{
 background: #2EC8C8; 
}
.pixel:nth-child(477)
{
 background: #2EC8C8; 
}
.pixel:nth-child(478)
{
 background: #2EC8C8; 
}
.pixel:nth-child(479)
{
 background: #2EC8C8; 
}
.pixel:nth-child(480)
{
 background: #2EC8C8; 
}
.pixel:nth-child(481)
{
 background: #B2B2B2; 
}
.pixel:nth-child(482)
{
 background: #CFCFCF; 
}
.pixel:nth-child(483)
{
 background: #CFCFCF; 
}
.pixel:nth-child(488)
{
 background: #CFCFCF; 
}
.pixel:nth-child(489)
{
 background: #2EC8C8; 
}
.pixel:nth-child(490)
{
 background: #B2B2B2; 
}
.pixel:nth-child(491)
{
 background: #B2B2B2; 
}
.pixel:nth-child(492)
{
 background: #CFCFCF; 
}
.pixel:nth-child(495)
{
 background: #CFCFCF; 
}
.pixel:nth-child(496)
{
 background: #B2B2B2; 
}
.pixel:nth-child(497)
{
 background: #B2B2B2; 
}
.pixel:nth-child(498)
{
 background: #2EC8C8; 
}
.pixel:nth-child(499)
{
 background: #2EC8C8; 
}
.pixel:nth-child(500)
{
 background: #2EC8C8; 
}
.pixel:nth-child(501)
{
 background: #2EC8C8; 
}
.pixel:nth-child(502)
{
 background: #2EC8C8; 
}
.pixel:nth-child(503)
{
 background: #B2B2B2; 
}
.pixel:nth-child(504)
{
 background: #CFCFCF; 
}
.pixel:nth-child(505)
{
 background: #CFCFCF; 
}
.pixel:nth-child(509)
{
 background: #CFCFCF; 
}
.pixel:nth-child(510)
{
 background: #2EC8C8; 
}
.pixel:nth-child(511)
{
 background: #2EC8C8; 
}
.pixel:nth-child(512)
{
 background: #2EC8C8; 
}
.pixel:nth-child(513)
{
 background: #CFCFCF; 
}
.pixel:nth-child(517)
{
 background: #CFCFCF; 
}
.pixel:nth-child(518)
{
 background: #CFCFCF; 
}
.pixel:nth-child(519)
{
 background: #B2B2B2; 
}
.pixel:nth-child(520)
{
 background: #2EC8C8; 
}
.pixel:nth-child(521)
{
 background: #2EC8C8; 
}
.pixel:nth-child(522)
{
 background: #CFCFCF; 
}
.pixel:nth-child(523)
{
 background: #CFCFCF; 
}
.pixel:nth-child(524)
{
 background: #CFCFCF; 
}
.pixel:nth-child(525)
{
 background: #B2B2B2; 
}
.pixel:nth-child(526)
{
 background: #CFCFCF; 
}
.pixel:nth-child(527)
{
 background: #B2B2B2; 
}
.pixel:nth-child(528)
{
 background: #CFCFCF; 
}
.pixel:nth-child(531)
{
 background: #CFCFCF; 
}
.pixel:nth-child(532)
{
 background: #2EC8C8; 
}
.pixel:nth-child(533)
{
 background: #2EC8C8; 
}
.pixel:nth-child(534)
{
 background: #2EC8C8; 
}
.pixel:nth-child(535)
{
 background: #CFCFCF; 
}
.pixel:nth-child(539)
{
 background: #CFCFCF; 
}
.pixel:nth-child(540)
{
 background: #B2B2B2; 
}
.pixel:nth-child(541)
{
 background: #CFCFCF; 
}
.pixel:nth-child(542)
{
 background: #B2B2B2; 
}
.pixel:nth-child(543)
{
 background: #CFCFCF; 
}
.pixel:nth-child(544)
{
 background: #000000; 
}
.pixel:nth-child(545)
{
 background: #2EC8C8; 
}
.pixel:nth-child(546)
{
 background: #000000; 
}
.pixel:nth-child(547)
{
 background: #CFCFCF; 
}
.pixel:nth-child(548)
{
 background: #CFCFCF; 
}
.pixel:nth-child(549)
{
 background: #2EC8C8; 
}
.pixel:nth-child(550)
{
 background: #CFCFCF; 
}
.pixel:nth-child(553)
{
 background: #CFCFCF; 
}
.pixel:nth-child(554)
{
 background: #B2B2B2; 
}
.pixel:nth-child(555)
{
 background: #B2B2B2; 
}
.pixel:nth-child(556)
{
 background: #B2B2B2; 
}
.pixel:nth-child(557)
{
 background: #CFCFCF; 
}
.pixel:nth-child(560)
{
 background: #CFCFCF; 
}
.pixel:nth-child(561)
{
 background: #B2B2B2; 
}
.pixel:nth-child(562)
{
 background: #B2B2B2; 
}
.pixel:nth-child(563)
{
 background: #B2B2B2; 
}
.pixel:nth-child(564)
{
 background: #B2B2B2; 
}
.pixel:nth-child(565)
{
 background: #CFCFCF; 
}
.pixel:nth-child(566)
{
 background: #000000; 
}
.pixel:nth-child(567)
{
 background: #2EC8C8; 
}
.pixel:nth-child(568)
{
 background: #000000; 
}
.pixel:nth-child(569)
{
 background: #CFCFCF; 
}
.pixel:nth-child(570)
{
 background: #CFCFCF; 
}
.pixel:nth-child(571)
{
 background: #2EC8C8; 
}
.pixel:nth-child(572)
{
 background: #CFCFCF; 
}
.pixel:nth-child(575)
{
 background: #CFCFCF; 
}
.pixel:nth-child(576)
{
 background: #2EC8C8; 
}
.pixel:nth-child(577)
{
 background: #2EC8C8; 
}
.pixel:nth-child(578)
{
 background: #2EC8C8; 
}
.pixel:nth-child(579)
{
 background: #2EC8C8; 
}
.pixel:nth-child(580)
{
 background: #CFCFCF; 
}
.pixel:nth-child(582)
{
 background: #CFCFCF; 
}
.pixel:nth-child(583)
{
 background: #B2B2B2; 
}
.pixel:nth-child(584)
{
 background: #B2B2B2; 
}
.pixel:nth-child(585)
{
 background: #2EC8C8; 
}
.pixel:nth-child(586)
{
 background: #2EC8C8; 
}
.pixel:nth-child(587)
{
 background: #2EC8C8; 
}
.pixel:nth-child(588)
{
 background: #CFCFCF; 
}
.pixel:nth-child(589)
{
 background: #CFCFCF; 
}
.pixel:nth-child(590)
{
 background: #CFCFCF; 
}
.pixel:nth-child(591)
{
 background: #B2B2B2; 
}
.pixel:nth-child(592)
{
 background: #CFCFCF; 
}
.pixel:nth-child(593)
{
 background: #B2B2B2; 
}
.pixel:nth-child(594)
{
 background: #CFCFCF; 
}
.pixel:nth-child(597)
{
 background: #CFCFCF; 
}
.pixel:nth-child(598)
{
 background: #2EC8C8; 
}
.pixel:nth-child(599)
{
 background: #2EC8C8; 
}
.pixel:nth-child(600)
{
 background: #2EC8C8; 
}
.pixel:nth-child(601)
{
 background: #2EC8C8; 
}
.pixel:nth-child(602)
{
 background: #CFCFCF; 
}
.pixel:nth-child(603)
{
 background: #CFCFCF; 
}
.pixel:nth-child(604)
{
 background: #B2B2B2; 
}
.pixel:nth-child(605)
{
 background: #B2B2B2; 
}
.pixel:nth-child(606)
{
 background: #2EC8C8; 
}
.pixel:nth-child(607)
{
 background: #2EC8C8; 
}
.pixel:nth-child(608)
{
 background: #2EC8C8; 
}
.pixel:nth-child(609)
{
 background: #2EC8C8; 
}
.pixel:nth-child(610)
{
 background: #2EC8C8; 
}
.pixel:nth-child(611)
{
 background: #2EC8C8; 
}
.pixel:nth-child(612)
{
 background: #2EC8C8; 
}
.pixel:nth-child(613)
{
 background: #B2B2B2; 
}
.pixel:nth-child(614)
{
 background: #CFCFCF; 
}
.pixel:nth-child(615)
{
 background: #2EC8C8; 
}
.pixel:nth-child(616)
{
 background: #2EC8C8; 
}
.pixel:nth-child(617)
{
 background: #CFCFCF; 
}
.pixel:nth-child(619)
{
 background: #CFCFCF; 
}
.pixel:nth-child(620)
{
 background: #2EC8C8; 
}
.pixel:nth-child(621)
{
 background: #2EC8C8; 
}
.pixel:nth-child(622)
{
 background: #2EC8C8; 
}
.pixel:nth-child(623)
{
 background: #CFCFCF; 
}
.pixel:nth-child(624)
{
 background: #2EC8C8; 
}
.pixel:nth-child(625)
{
 background: #CFCFCF; 
}
.pixel:nth-child(626)
{
 background: #B2B2B2; 
}
.pixel:nth-child(627)
{
 background: #2EC8C8; 
}
.pixel:nth-child(628)
{
 background: #2EC8C8; 
}
.pixel:nth-child(629)
{
 background: #2EC8C8; 
}
.pixel:nth-child(630)
{
 background: #2EC8C8; 
}
.pixel:nth-child(631)
{
 background: #CFCFCF; 
}
.pixel:nth-child(632)
{
 background: #2EC8C8; 
}
.pixel:nth-child(633)
{
 background: #CFCFCF; 
}
.pixel:nth-child(634)
{
 background: #2EC8C8; 
}
.pixel:nth-child(635)
{
 background: #B2B2B2; 
}
.pixel:nth-child(636)
{
 background: #CFCFCF; 
}
.pixel:nth-child(637)
{
 background: #CFCFCF; 
}
.pixel:nth-child(638)
{
 background: #2EC8C8; 
}
.pixel:nth-child(639)
{
 background: #CFCFCF; 
}
.pixel:nth-child(642)
{
 background: #CFCFCF; 
}
.pixel:nth-child(643)
{
 background: #2EC8C8; 
}
.pixel:nth-child(644)
{
 background: #2EC8C8; 
}
.pixel:nth-child(645)
{
 background: #CFCFCF; 
}
.pixel:nth-child(646)
{
 background: #CFCFCF; 
}
.pixel:nth-child(647)
{
 background: #CFCFCF; 
}
.pixel:nth-child(648)
{
 background: #2EC8C8; 
}
.pixel:nth-child(649)
{
 background: #2EC8C8; 
}
.pixel:nth-child(650)
{
 background: #2EC8C8; 
}
.pixel:nth-child(651)
{
 background: #2EC8C8; 
}
.pixel:nth-child(652)
{
 background: #2EC8C8; 
}
.pixel:nth-child(653)
{
 background: #CFCFCF; 
}
.pixel:nth-child(654)
{
 background: #CFCFCF; 
}
.pixel:nth-child(655)
{
 background: #2EC8C8; 
}
.pixel:nth-child(656)
{
 background: #2EC8C8; 
}
.pixel:nth-child(657)
{
 background: #2EC8C8; 
}
.pixel:nth-child(658)
{
 background: #CFCFCF; 
}
.pixel:nth-child(659)
{
 background: #CFCFCF; 
}
.pixel:nth-child(660)
{
 background: #2EC8C8; 
}
.pixel:nth-child(661)
{
 background: #CFCFCF; 
}
.pixel:nth-child(665)
{
 background: #CFCFCF; 
}
.pixel:nth-child(666)
{
 background: #CFCFCF; 
}
.pixel:nth-child(667)
{
 background: #CFCFCF; 
}
.pixel:nth-child(668)
{
 background: #CFCFCF; 
}
.pixel:nth-child(669)
{
 background: #2EC8C8; 
}
.pixel:nth-child(670)
{
 background: #2EC8C8; 
}
.pixel:nth-child(671)
{
 background: #2EC8C8; 
}
.pixel:nth-child(672)
{
 background: #2EC8C8; 
}
.pixel:nth-child(673)
{
 background: #2EC8C8; 
}
.pixel:nth-child(674)
{
 background: #2EC8C8; 
}
.pixel:nth-child(675)
{
 background: #CFCFCF; 
}
.pixel:nth-child(676)
{
 background: #2EC8C8; 
}
.pixel:nth-child(677)
{
 background: #2EC8C8; 
}
.pixel:nth-child(678)
{
 background: #2EC8C8; 
}
.pixel:nth-child(679)
{
 background: #2EC8C8; 
}
.pixel:nth-child(680)
{
 background: #CFCFCF; 
}
.pixel:nth-child(681)
{
 background: #CFCFCF; 
}
.pixel:nth-child(682)
{
 background: #CFCFCF; 
}
.pixel:nth-child(683)
{
 background: #CFCFCF; 
}
.pixel:nth-child(689)
{
 background: #CFCFCF; 
}
.pixel:nth-child(690)
{
 background: #2EC8C8; 
}
.pixel:nth-child(691)
{
 background: #2EC8C8; 
}
.pixel:nth-child(692)
{
 background: #2EC8C8; 
}
.pixel:nth-child(693)
{
 background: #2EC8C8; 
}
.pixel:nth-child(694)
{
 background: #2EC8C8; 
}
.pixel:nth-child(695)
{
 background: #2EC8C8; 
}
.pixel:nth-child(696)
{
 background: #CFCFCF; 
}
.pixel:nth-child(697)
{
 background: #CFCFCF; 
}
.pixel:nth-child(698)
{
 background: #2EC8C8; 
}
.pixel:nth-child(699)
{
 background: #2EC8C8; 
}
.pixel:nth-child(700)
{
 background: #2EC8C8; 
}
.pixel:nth-child(701)
{
 background: #2EC8C8; 
}
.pixel:nth-child(702)
{
 background: #CFCFCF; 
}
.pixel:nth-child(711)
{
 background: #CFCFCF; 
}
.pixel:nth-child(712)
{
 background: #2EC8C8; 
}
.pixel:nth-child(713)
{
 background: #CFCFCF; 
}
.pixel:nth-child(714)
{
 background: #2EC8C8; 
}
.pixel:nth-child(715)
{
 background: #CFCFCF; 
}
.pixel:nth-child(716)
{
 background: #2EC8C8; 
}
.pixel:nth-child(717)
{
 background: #2EC8C8; 
}
.pixel:nth-child(718)
{
 background: #CFCFCF; 
}
.pixel:nth-child(719)
{
 background: #CFCFCF; 
}
.pixel:nth-child(720)
{
 background: #2EC8C8; 
}
.pixel:nth-child(721)
{
 background: #2EC8C8; 
}
.pixel:nth-child(722)
{
 background: #CFCFCF; 
}
.pixel:nth-child(723)
{
 background: #2EC8C8; 
}
.pixel:nth-child(724)
{
 background: #CFCFCF; 
}
.pixel:nth-child(733)
{
 background: #CFCFCF; 
}
.pixel:nth-child(734)
{
 background: #2EC8C8; 
}
.pixel:nth-child(735)
{
 background: #CFCFCF; 
}
.pixel:nth-child(736)
{
 background: #CFCFCF; 
}
.pixel:nth-child(737)
{
 background: #2EC8C8; 
}
.pixel:nth-child(738)
{
 background: #2EC8C8; 
}
.pixel:nth-child(739)
{
 background: #CFCFCF; 
}
.pixel:nth-child(741)
{
 background: #CFCFCF; 
}
.pixel:nth-child(742)
{
 background: #2EC8C8; 
}
.pixel:nth-child(743)
{
 background: #2EC8C8; 
}
.pixel:nth-child(744)
{
 background: #CFCFCF; 
}
.pixel:nth-child(745)
{
 background: #CFCFCF; 
}
.pixel:nth-child(746)
{
 background: #CFCFCF; 
}
.pixel:nth-child(754)
{
 background: #CFCFCF; 
}
.pixel:nth-child(755)
{
 background: #2EC8C8; 
}
.pixel:nth-child(756)
{
 background: #2EC8C8; 
}
.pixel:nth-child(757)
{
 background: #2EC8C8; 
}
.pixel:nth-child(758)
{
 background: #2EC8C8; 
}
.pixel:nth-child(759)
{
 background: #2EC8C8; 
}
.pixel:nth-child(760)
{
 background: #CFCFCF; 
}
.pixel:nth-child(763)
{
 background: #CFCFCF; 
}
.pixel:nth-child(764)
{
 background: #2EC8C8; 
}
.pixel:nth-child(765)
{
 background: #2EC8C8; 
}
.pixel:nth-child(766)
{
 background: #2EC8C8; 
}
.pixel:nth-child(767)
{
 background: #2EC8C8; 
}
.pixel:nth-child(768)
{
 background: #CFCFCF; 
}
.pixel:nth-child(776)
{
 background: #CFCFCF; 
}
.pixel:nth-child(777)
{
 background: #B2B2B2; 
}
.pixel:nth-child(778)
{
 background: #B2B2B2; 
}
.pixel:nth-child(779)
{
 background: #B2B2B2; 
}
.pixel:nth-child(780)
{
 background: #B2B2B2; 
}
.pixel:nth-child(781)
{
 background: #B2B2B2; 
}
.pixel:nth-child(782)
{
 background: #CFCFCF; 
}
.pixel:nth-child(785)
{
 background: #CFCFCF; 
}
.pixel:nth-child(786)
{
 background: #B2B2B2; 
}
.pixel:nth-child(787)
{
 background: #B2B2B2; 
}
.pixel:nth-child(788)
{
 background: #B2B2B2; 
}
.pixel:nth-child(789)
{
 background: #B2B2B2; 
}
.pixel:nth-child(790)
{
 background: #CFCFCF; 
}
.pixel:nth-child(798)
{
 background: #CFCFCF; 
}
.pixel:nth-child(799)
{
 background: #B2B2B2; 
}
.pixel:nth-child(800)
{
 background: #B2B2B2; 
}
.pixel:nth-child(801)
{
 background: #B2B2B2; 
}
.pixel:nth-child(802)
{
 background: #B2B2B2; 
}
.pixel:nth-child(803)
{
 background: #CFCFCF; 
}
.pixel:nth-child(807)
{
 background: #CFCFCF; 
}
.pixel:nth-child(808)
{
 background: #B2B2B2; 
}
.pixel:nth-child(809)
{
 background: #B2B2B2; 
}
.pixel:nth-child(810)
{
 background: #B2B2B2; 
}
.pixel:nth-child(811)
{
 background: #B2B2B2; 
}
.pixel:nth-child(812)
{
 background: #CFCFCF; 
}
.pixel:nth-child(819)
{
 background: #CFCFCF; 
}
.pixel:nth-child(820)
{
 background: #B2B2B2; 
}
.pixel:nth-child(821)
{
 background: #B2B2B2; 
}
.pixel:nth-child(822)
{
 background: #B2B2B2; 
}
.pixel:nth-child(823)
{
 background: #B2B2B2; 
}
.pixel:nth-child(824)
{
 background: #B2B2B2; 
}
.pixel:nth-child(825)
{
 background: #CFCFCF; 
}
.pixel:nth-child(829)
{
 background: #CFCFCF; 
}
.pixel:nth-child(830)
{
 background: #B2B2B2; 
}
.pixel:nth-child(831)
{
 background: #B2B2B2; 
}
.pixel:nth-child(832)
{
 background: #B2B2B2; 
}
.pixel:nth-child(833)
{
 background: #B2B2B2; 
}
.pixel:nth-child(834)
{
 background: #2EC8C8; 
}
.pixel:nth-child(835)
{
 background: #CFCFCF; 
}
.pixel:nth-child(841)
{
 background: #CFCFCF; 
}
.pixel:nth-child(842)
{
 background: #2EC8C8; 
}
.pixel:nth-child(843)
{
 background: #2EC8C8; 
}
.pixel:nth-child(844)
{
 background: #2EC8C8; 
}
.pixel:nth-child(845)
{
 background: #B2B2B2; 
}
.pixel:nth-child(846)
{
 background: #CFCFCF; 
}
.pixel:nth-child(852)
{
 background: #CFCFCF; 
}
.pixel:nth-child(853)
{
 background: #B2B2B2; 
}
.pixel:nth-child(854)
{
 background: #B2B2B2; 
}
.pixel:nth-child(855)
{
 background: #2EC8C8; 
}
.pixel:nth-child(856)
{
 background: #2EC8C8; 
}
.pixel:nth-child(857)
{
 background: #2EC8C8; 
}
.pixel:nth-child(858)
{
 background: #CFCFCF; 
}
.pixel:nth-child(863)
{
 background: #CFCFCF; 
}
.pixel:nth-child(864)
{
 background: #2EC8C8; 
}
.pixel:nth-child(865)
{
 background: #2EC8C8; 
}
.pixel:nth-child(866)
{
 background: #2EC8C8; 
}
.pixel:nth-child(867)
{
 background: #2EC8C8; 
}
.pixel:nth-child(868)
{
 background: #CFCFCF; 
}
.pixel:nth-child(875)
{
 background: #CFCFCF; 
}
.pixel:nth-child(876)
{
 background: #CFCFCF; 
}
.pixel:nth-child(877)
{
 background: #CFCFCF; 
}
.pixel:nth-child(878)
{
 background: #CFCFCF; 
}
.pixel:nth-child(879)
{
 background: #CFCFCF; 
}
.pixel:nth-child(880)
{
 background: #CFCFCF; 
}
.pixel:nth-child(885)
{
 background: #CFCFCF; 
}
.pixel:nth-child(886)
{
 background: #CFCFCF; 
}
.pixel:nth-child(887)
{
 background: #CFCFCF; 
}
.pixel:nth-child(888)
{
 background: #CFCFCF; 
}
.pixel:nth-child(889)
{
 background: #CFCFCF; 
}
.pixel:nth-child(890)
{
 background: #CFCFCF; 
}
