body { 
 background: #333333; 
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center; 
 }
.canvas{
 width: 420px;
 height: 400px; 
 }
.pixel{
 width: 30px;
 height: 30px;
 float: left; 
 box-shadow: 0px 0px 1px #fff;
}
.pixel:nth-child(4)
{
 background: #1BE2E2; 
}
.pixel:nth-child(5)
{
 background: #1BE2E2; 
}
.pixel:nth-child(6)
{
 background: #1BE2E2; 
}
.pixel:nth-child(7)
{
 background: #1BE2E2; 
}
.pixel:nth-child(8)
{
 background: #1BE2E2; 
}
.pixel:nth-child(9)
{
 background: #1BE2E2; 
}
.pixel:nth-child(18)
{
 background: #1BE2E2; 
}
.pixel:nth-child(19)
{
 background: #1BE2E2; 
}
.pixel:nth-child(20)
{
 background: #1BE2E2; 
}
.pixel:nth-child(21)
{
 background: #1BE2E2; 
}
.pixel:nth-child(22)
{
 background: #1BE2E2; 
}
.pixel:nth-child(23)
{
 background: #1BE2E2; 
}
.pixel:nth-child(24)
{
 background: #1BE2E2; 
}
.pixel:nth-child(25)
{
 background: #1BE2E2; 
}
.pixel:nth-child(26)
{
 background: #1BE2E2; 
}
.pixel:nth-child(27)
{
 background: #1BE2E2; 
}
.pixel:nth-child(32)
{
 background: #74BAEC; 
}
.pixel:nth-child(33)
{
 background: #74BAEC; 
}
.pixel:nth-child(34)
{
 background: #74BAEC; 
}
.pixel:nth-child(35)
{
 background: #001B4A; 
}
.pixel:nth-child(36)
{
 background: #001B4A; 
}
.pixel:nth-child(37)
{
 background: #001B4A; 
}
.pixel:nth-child(38)
{
 background: #FFFFFF; 
}
.pixel:nth-child(39)
{
 background: #001B4A; 
}
.pixel:nth-child(45)
{
 background: #74BAEC; 
}
.pixel:nth-child(46)
{
 background: #001B4A; 
}
.pixel:nth-child(47)
{
 background: #74BAEC; 
}
.pixel:nth-child(48)
{
 background: #001B4A; 
}
.pixel:nth-child(49)
{
 background: #001B4A; 
}
.pixel:nth-child(50)
{
 background: #001B4A; 
}
.pixel:nth-child(51)
{
 background: #001B4A; 
}
.pixel:nth-child(52)
{
 background: #FFFFFF; 
}
.pixel:nth-child(53)
{
 background: #001B4A; 
}
.pixel:nth-child(54)
{
 background: #001B4A; 
}
.pixel:nth-child(55)
{
 background: #001B4A; 
}
.pixel:nth-child(59)
{
 background: #74BAEC; 
}
.pixel:nth-child(60)
{
 background: #001B4A; 
}
.pixel:nth-child(61)
{
 background: #74BAEC; 
}
.pixel:nth-child(62)
{
 background: #74BAEC; 
}
.pixel:nth-child(63)
{
 background: #001B4A; 
}
.pixel:nth-child(64)
{
 background: #001B4A; 
}
.pixel:nth-child(65)
{
 background: #001B4A; 
}
.pixel:nth-child(66)
{
 background: #001B4A; 
}
.pixel:nth-child(67)
{
 background: #FFFFFF; 
}
.pixel:nth-child(68)
{
 background: #001B4A; 
}
.pixel:nth-child(69)
{
 background: #001B4A; 
}
.pixel:nth-child(70)
{
 background: #001B4A; 
}
.pixel:nth-child(73)
{
 background: #74BAEC; 
}
.pixel:nth-child(74)
{
 background: #74BAEC; 
}
.pixel:nth-child(75)
{
 background: #001B4A; 
}
.pixel:nth-child(76)
{
 background: #001B4A; 
}
.pixel:nth-child(77)
{
 background: #001B4A; 
}
.pixel:nth-child(78)
{
 background: #001B4A; 
}
.pixel:nth-child(79)
{
 background: #001B4A; 
}
.pixel:nth-child(80)
{
 background: #FFFFFF; 
}
.pixel:nth-child(81)
{
 background: #FFFFFF; 
}
.pixel:nth-child(82)
{
 background: #FFFFFF; 
}
.pixel:nth-child(83)
{
 background: #FFFFFF; 
}
.pixel:nth-child(89)
{
 background: #001B4A; 
}
.pixel:nth-child(90)
{
 background: #001B4A; 
}
.pixel:nth-child(91)
{
 background: #001B4A; 
}
.pixel:nth-child(92)
{
 background: #001B4A; 
}
.pixel:nth-child(93)
{
 background: #001B4A; 
}
.pixel:nth-child(94)
{
 background: #001B4A; 
}
.pixel:nth-child(95)
{
 background: #001B4A; 
}
.pixel:nth-child(96)
{
 background: #001B4A; 
}
.pixel:nth-child(102)
{
 background: #1BE2E2; 
}
.pixel:nth-child(103)
{
 background: #1BE2E2; 
}
.pixel:nth-child(104)
{
 background: #FFFF00; 
}
.pixel:nth-child(105)
{
 background: #1BE2E2; 
}
.pixel:nth-child(106)
{
 background: #1BE2E2; 
}
.pixel:nth-child(107)
{
 background: #FFFF00; 
}
.pixel:nth-child(108)
{
 background: #1BE2E2; 
}
.pixel:nth-child(115)
{
 background: #1BE2E2; 
}
.pixel:nth-child(116)
{
 background: #1BE2E2; 
}
.pixel:nth-child(117)
{
 background: #1BE2E2; 
}
.pixel:nth-child(118)
{
 background: #FFFF00; 
}
.pixel:nth-child(119)
{
 background: #1BE2E2; 
}
.pixel:nth-child(120)
{
 background: #1BE2E2; 
}
.pixel:nth-child(121)
{
 background: #FFFF00; 
}
.pixel:nth-child(122)
{
 background: #1BE2E2; 
}
.pixel:nth-child(123)
{
 background: #1BE2E2; 
}
.pixel:nth-child(124)
{
 background: #1BE2E2; 
}
.pixel:nth-child(125)
{
 background: #1BE2E2; 
}
.pixel:nth-child(128)
{
 background: #1BE2E2; 
}
.pixel:nth-child(129)
{
 background: #1BE2E2; 
}
.pixel:nth-child(130)
{
 background: #1BE2E2; 
}
.pixel:nth-child(131)
{
 background: #1BE2E2; 
}
.pixel:nth-child(132)
{
 background: #FFFF00; 
}
.pixel:nth-child(133)
{
 background: #FFFF00; 
}
.pixel:nth-child(134)
{
 background: #FFFF00; 
}
.pixel:nth-child(135)
{
 background: #FFFF00; 
}
.pixel:nth-child(136)
{
 background: #1BE2E2; 
}
.pixel:nth-child(137)
{
 background: #1BE2E2; 
}
.pixel:nth-child(138)
{
 background: #1BE2E2; 
}
.pixel:nth-child(139)
{
 background: #1BE2E2; 
}
.pixel:nth-child(142)
{
 background: #001B4A; 
}
.pixel:nth-child(143)
{
 background: #001B4A; 
}
.pixel:nth-child(144)
{
 background: #1BE2E2; 
}
.pixel:nth-child(145)
{
 background: #FFFF00; 
}
.pixel:nth-child(146)
{
 background: #0000FF; 
}
.pixel:nth-child(147)
{
 background: #FFFF00; 
}
.pixel:nth-child(148)
{
 background: #FFFF00; 
}
.pixel:nth-child(149)
{
 background: #0000FF; 
}
.pixel:nth-child(150)
{
 background: #FFFF00; 
}
.pixel:nth-child(151)
{
 background: #1BE2E2; 
}
.pixel:nth-child(152)
{
 background: #001B4A; 
}
.pixel:nth-child(153)
{
 background: #001B4A; 
}
.pixel:nth-child(156)
{
 background: #001B4A; 
}
.pixel:nth-child(157)
{
 background: #001B4A; 
}
.pixel:nth-child(158)
{
 background: #001B4A; 
}
.pixel:nth-child(159)
{
 background: #FFFF00; 
}
.pixel:nth-child(160)
{
 background: #FFFF00; 
}
.pixel:nth-child(161)
{
 background: #FFFF00; 
}
.pixel:nth-child(162)
{
 background: #FFFF00; 
}
.pixel:nth-child(163)
{
 background: #FFFF00; 
}
.pixel:nth-child(164)
{
 background: #FFFF00; 
}
.pixel:nth-child(165)
{
 background: #001B4A; 
}
.pixel:nth-child(166)
{
 background: #001B4A; 
}
.pixel:nth-child(167)
{
 background: #001B4A; 
}
.pixel:nth-child(170)
{
 background: #001B4A; 
}
.pixel:nth-child(171)
{
 background: #001B4A; 
}
.pixel:nth-child(172)
{
 background: #FFFF00; 
}
.pixel:nth-child(173)
{
 background: #FFFF00; 
}
.pixel:nth-child(174)
{
 background: #FFFF00; 
}
.pixel:nth-child(175)
{
 background: #FFFF00; 
}
.pixel:nth-child(176)
{
 background: #FFFF00; 
}
.pixel:nth-child(177)
{
 background: #FFFF00; 
}
.pixel:nth-child(178)
{
 background: #FFFF00; 
}
.pixel:nth-child(179)
{
 background: #FFFF00; 
}
.pixel:nth-child(180)
{
 background: #001B4A; 
}
.pixel:nth-child(181)
{
 background: #001B4A; 
}
.pixel:nth-child(186)
{
 background: #FFFF00; 
}
.pixel:nth-child(187)
{
 background: #FFFF00; 
}
.pixel:nth-child(188)
{
 background: #FFFF00; 
}
.pixel:nth-child(191)
{
 background: #FFFF00; 
}
.pixel:nth-child(192)
{
 background: #FFFF00; 
}
.pixel:nth-child(193)
{
 background: #FFFF00; 
}
.pixel:nth-child(199)
{
 background: #74BAEC; 
}
.pixel:nth-child(200)
{
 background: #74BAEC; 
}
.pixel:nth-child(201)
{
 background: #74BAEC; 
}
.pixel:nth-child(206)
{
 background: #74BAEC; 
}
.pixel:nth-child(207)
{
 background: #74BAEC; 
}
.pixel:nth-child(208)
{
 background: #74BAEC; 
}
.pixel:nth-child(212)
{
 background: #74BAEC; 
}
.pixel:nth-child(213)
{
 background: #74BAEC; 
}
.pixel:nth-child(214)
{
 background: #74BAEC; 
}
.pixel:nth-child(215)
{
 background: #74BAEC; 
}
.pixel:nth-child(220)
{
 background: #74BAEC; 
}
.pixel:nth-child(221)
{
 background: #74BAEC; 
}
.pixel:nth-child(222)
{
 background: #74BAEC; 
}
.pixel:nth-child(223)
{
 background: #74BAEC; 
}
